<h1>ALL THE CATS</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Owner</th>
  </tr>
  <% @cats.each do |cat| %>
  <tr>
    <th><%= cat.name %></th>
    <th><%= cat.owner ? cat.owner.fname : "" %></th>
  </tr>
  <% end %>
</table>
<a href="/cats/new">New cat!</a>
